<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskMaster</title>
    <link rel="stylesheet" href="/css/acme.css" />
  </head>
  <body>
    <header>
      <img src="img/LogoSample_ByTailorBrands-removebg-preview.png" alt="" class="logo" />
      <div>
        <a href="/login"><button class="btn1">Login</button></a>
        <a href="/signup"><button class="btn2">Sign up</button></a>
      </div>
    </header>

    <main>
      <h1 class="text1">
        Empower Your <br />
        Academic Journey
      </h1>
      <h3 class="text2">
        Seamlessly manage your courses, track your progress, and stay organized <br />
        with our intuitive university management system
      </h3>
      <a href="/"
        ><button class="btn3">
          <svg class="svg1" xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 12 12">
            <title>grid interface</title>
            <g stroke-width="1" fill="#ffffff" stroke="#ffffff" class="nc-icon-wrapper">
              <rect
                x="0.5"
                y="0.5"
                width="4"
                height="4"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></rect>
              <rect
                x="7.5"
                y="0.5"
                width="4"
                height="4"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                data-color="color-2"
              ></rect>
              <rect
                x="0.5"
                y="7.5"
                width="4"
                height="4"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                data-color="color-2"
              ></rect>
              <rect
                x="7.5"
                y="7.5"
                width="4"
                height="4"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></rect>
            </g>
          </svg>
          Go to dashboard
        </button></a
      >
    </main>
  </body>
</html>
