<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaskMaster | Login</title>
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
  </head>
  <body>
    <main>
      <a class="back" href="/">
        <img src="/img/LogoSample_ByTailorBrands-removebg-preview.png" alt="" class="logo" />
      </a>

      <div class="header-texts">
        <h1>Login</h1>
        <p>Enter your email below to login to your account</p>
      </div>

      <form method="post" action="/api/user/login">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" name="email" required placeholder="johndoe@acme.com" />
          <p class="text4">Enter your Email Address</p>
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input class="inp2" type="password" name="password" required placeholder="********" />
          <p class="text4">Enter your password</p>
        </div>

        <button type="submit" class="btn3">Continue</button>

        <p class="text5">
          Don't have an account?
          <a href="/signup">Sign Up</a>
        </p>
      </form>
    </main>
  </body>
  <script src="/js/api.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script>
    const notyf = new Notyf();

    function getQueryStringParams() {
      const params = {};
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);

      if (urlParams.has("error")) {
        params.error = urlParams.get("error");
      }
      if (urlParams.has("success")) {
        params.success = urlParams.get("success");
      }

      return params;
    }

    // Get the query string parameters
    const queryParams = getQueryStringParams();

    if (queryParams.error) {
      notyf.error(queryParams.error);
      window.history.replaceState({}, document.title, "/login");
    }
    if (queryParams.success) {
      notyf.success(queryParams.success);
      window.history.replaceState({}, document.title, "/login");
    }
  </script>
</html>
