body,
html {
  overflow-x: hidden;
  width: 100vw;
  padding: 0;
  margin: 0;
}
header {
  background: #fafbfd;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2em;
  box-sizing: border-box;
}
header > a {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

nav {
  box-sizing: border-box;
  width: 300px;
  height: calc(100vh - 80px);
  background: #fafbfdb7;
  border: 1px solid #c9c9c9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-block: 1em;
}

.nav-main {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.settings,
.dashboard {
  font-weight: 400;
  font-size: 16px;
  width: 250px;
  background: #c9c9c9;
  border-radius: 10px;
  cursor: pointer !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  padding: 1em;
}

.logout {
  color: red;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  padding: 1em;
}

.red {
  color: #e22323;
}

h4 {
  margin: 0;
}
.dashboard {
  background: #8b8b8b;
}

.dashboard,
.settings {
  color: black;
  text-decoration: none;
}

.settings:hover,
.dashboard:hover {
  background: #b9b9b944;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0em 2em 2em;
  width: calc(100vw - 300px);
}

.main-content-wrapper {
  display: flex;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

.content {
  border: 1px solid #c9c9c9;
  padding: 1em 1.5em;
  border-radius: 10px;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  min-height: 100px;
}
.content-header-texts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text3 {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}
.text4 {
  font-size: 16px;
  font-weight: 400;
  color: #c9c9c9;
  margin: 0;
}
.btn1 {
  min-width: 110px;
  height: 40px;
  background: black;
  color: white;
  line-height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1em;
}
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999999999;
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
  border-radius: 10px;
  z-index: 999999999999999;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  bottom: 5px;
  left: 5px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.checkbook-container {
  border: 1px solid #c9c9c9;
  padding: 20px;
  width: 60%;
  height: 300px;
  border-bottom-left-radius: 10px;
}

.new-item-input,
#add-button {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#add-button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

#add-button:hover {
  background-color: rgb(34, 34, 34);
}
h1 {
  margin-top: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.item-text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-text-sm {
  color: #959595;
  font-size: 14px;
}

li .item-text {
  flex-grow: 1;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li .delete-button {
  cursor: pointer;
  width: 16px;
  z-index: 999999;
}

li.crust .item-text {
  text-decoration: line-through !important;
  color: #3f3f3f;
}
input {
  position: relative;
  left: 5px;
}
.text5 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.text6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  margin-block: auto;
}
.text7 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: #9a9a9a;
}

#goalsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.goal-container {
  margin: 0 auto;
}

.goal-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.goal-input button {
  background-color: black; /* Green */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 75%;
  margin-inline: auto;
}

.goal-input button:hover {
  background-color: rgb(34, 34, 34); /* Darker Green */
}

.goal-item {
  border: 1px solid #ccc;
  /* margin-bottom: 10px; */
  padding: 0.5em 1.5em;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.goal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.goal-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.delete-btn {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  background: none;
  border: none;
}
.delete-btn svg {
  width: 16px;
}

#calendar {
  min-width: 450px;
  max-height: 525px;
  cursor: pointer;
  border: 1px solid #c9c9c9;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  font-size: 16px;
}

.input-group > label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0;
  font-size: 14px;
}

.input-group > input,
.input-group > select {
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(128, 128, 128, 0.863);
  border: none;
  margin-bottom: 1em;
  padding: 0.8em 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.priority {
  color: rgba(175, 59, 59, 0.863);
  font-size: 14px;
  font-weight: 700;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a2a2a2;
  font-size: 14px;
}

.icons > p {
  cursor: pointer;
}

.goals-note {
  font-size: 14px;
  color: #828282;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.make-priority {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.75em 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.a-unstyled {
  text-decoration: none;
  color: black;
}

.checkbook-container-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.sub-texts {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.username {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75em;
}
