body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.schedule-main {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  gap: 1em;
}

.schedule-main > h1 {
  margin-bottom: 0;
}

.goals-header {
  margin-bottom: 0;
}

.no-schedule {
  display: block;
  width: 100%;
  text-align: center;
  margin-block: 3em;
  color: #9a9a9a;
  font-style: italic;
  font-size: 1.5em;
}

.calendar {
  padding-top: 2em;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

.new-schedule-main-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.text3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  text-align: center;
  margin-top: 1em;
}

.goal-header-text {
  width: 100%;
  justify-content: space-between;
}

.goals-note {
  margin-block: 0 !important;
}

.btn3 {
  width: 250px;
  height: 40px;
  color: white;
  background: black;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-schedule-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 1em;
}

.icons {
  gap: 1em;
}

.make-priority {
  margin: 0;
}

.text7 {
  font-style: italic;
}

.goal-item {
  border: none;
  border-bottom: 1px solid #ccc;
}

.pointer {
  cursor: pointer;
}
